{% extends "home/base.html" %}
{% block content %}
    {% for data in datas %}
            <article class="media content-section">
                    <img src= "{{ post.author.profile.image.url }}" class="rounded-circle article-img">
                    <div class="media-body">
                      <div class="article-metadata">
                        <a class="mr-2" href="#">{{ data.author }}</a>
                        <small class="text-muted">{{ data.date_posted|date:"F d, Y" }}</small>
                      </div>
                      <h2><a class="article-title" href="#">{{ data.title }}</a></h2>
                      <p class="article-content">{{ data.body }}</p>
                    </div>
                  </article>
    {% endfor %}
{% endblock content %}
